*{ 
 margin:0;
 padding:0;
}

body{
  margin:0;
  padding:0;
  font-style: oblique;
  background: #000;
}

section{
 width: 100%;
 height: 95vh;
}


section.sec1 h1{
 text-align: center;
 font-size: 3.5em;
 color: #fff;
 padding:20px 50px 20px;
}

section.sec1 h2{
 text-align: center;
 font-size:4em;
 padding:20px 50px 0;
 color: #ff0;
 font-family: Brush Script MT;
}

section.sec1 p{
	padding: 30px;
	color:white;
	font-size: 1.5em;
}

section.sec2{
 padding: 100px;
 box-sizing: border-box;
 height: auto;
 color: #fff;
}

section.sec2 h2{
 text-align: center;
 font-size:2em;
 padding:0 0 20px;

}

section.sec2 p{
 font-size:1.1em;
 margin:0;
 padding:0 0 10px;
}

section.sec2 a{
 display:block;
 color:#fff;
}

section.sec3{
 box-sizing: border-box;
 height: auto;
 background:#0C6D9A;
 color: #fff;
}

section.sec3 h1{
	text-align:center;
	font-size: 3em;
}

.Message{
	display: flex;
    align-items:center;	
	font-size: 1em;
}


div.Members{
	width:100%;
	height:auto;
	padding:40px 0 30px;
	display:flex;
	flex-direction: column;
	align-items:center;
}

div.M_info {
	margin: 20px;
	display:flex;
	align-items:center;
	flex-wrap: wrap;
	width:40%;
	background: #fff;
	border-radius:15px;
	background: radial-gradient(#F9BBBB,#E34646);
}

div.M_info table{
	font-weight:bold;
	padding:0 20px 0;
	margin-left:10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

    div.PTable{
	 width:100%; 
	 height:auto; 
	 overflow-Y: hidden; 
	}

	#ProjectTable {
	 width: 2000px; 
	 text-align: left;
	 overflow: scroll;
	 border-collapse: collapse;
	} 
	
	#ProjectTable thead{
	 color: white; 
	 text-align:center;
	 font-size: 1.1em;
	 padding: 10px;
	}
	
	#ProjectTable thead tr{
	 background: #eb4d4b;
	}
	
	#ProjectTable th{
	 width: 200px; 
	 height: 50px;
	}
	
	#ProjectTable tbody tr {
	 background:white;	
	 border-bottom:1px solid #ccc;
	}
	
	#ProjectTable td{
	 width: 200px;
     height: 60px;	 
	 font-size: .8em;
	 text-align: center;
	 padding:10px;
	}
	
	#ProjectTable tbody tr:nth-child(odd) {background: #f2f2f2;}
	
	#ProjectTable thead th:first-child { position:sticky; left:0; z-index:1; background:black; width:270px; padding:10px;}
	#ProjectTable td:nth-child(1) {box-shadow: 5px 0 3px -2px #ccc; width:250px; position: fixed; position: absolute; z-index: 1; background: inherit; padding: 10px; text-align: left; padding-left: 60px; font-weight: bold;}


nav{
 width:100%;
 height:80px;
 background: rgba(0,0,0,.8);
 border-top: 1px solid rgba(255,255,255,.2);
 border-bottom: 1px solid rgba(255,255,255,.2);
 position: sticky;
 top:0;
  z-index: 999;
}


nav ul{
  display: flex;
  margin:0;
  padding: 0 10px;
  float: right;
}

nav ul li {
  list-style: none;
}

nav ul li a{
   display: block;
   color: #fff;
   padding: 0 20px;
   text-decoration: none;
   font-weight: bold;
   line-height: 80px; 
}

nav ul li a:hover,
nav ul li a.active{
 background: #f00;
}

footer{
 padding: 10px 100px;
 box-sizing: border-box;
 color:#fff;
 height:auto;
}

.F_info {
	display:flex;
	align-items:center;
}

.F_info table{
  text-align:left;
  width: 100%;
  padding: 0 200px 0;
}

.container{
	max-width: 100%;
	margin: auto;
	background: #5B9987;
	overflow:auto;
	border: 2px solid #000;
}

.gallery{
	margin: 1.5%;
	border: 1px solid #ccc;
	float: left;
	width:30%;
}

.gallery img{
	width:100%;
	height:300px;
}

.desc{
	padding: 15px;
	text-align: center;
	font-weight: bold;
	background:white;
}

@media only screen and (max-width:800px){

section{
 width: 100%;
 height: 40vh;
}


#ProjectTable td{
  width:60px;
  font-size: .6em;
}

#ProjectTable th{
  width:60px;
  font-size: .6em;
}

#ProjectTable td:nth-child(1) {width:150px; height:60px; padding-left: 10px;}
#ProjectTable thead th:first-child {width:35px;}

}


@media only screen and (max-width:1200px){
	
section{
 width: 100%;
 height: 60vh;
}

section.sec1 h1{
 font-size: 1.5em;
}

section.sec1 h2{
 font-size:1.5em;
}

section.sec1 p{
	
	color:white;
	font-size: 1em;
}

section.sec1 table {
	padding: 7px;
}

section.sec2{
 padding: 10px;
}

section.sec2 h2{
 font-size:1.2em;

}

section.sec2 p{
 font-size:.8em;
}

section.sec3 h1{
	font-size: 1em;
}


.Message{
	flex-direction: column;
	font-size:.8em;
}


div.Members{
  padding:20px 0 20px;
}


div.M_info {
	flex-direction: column;
	align-items: center;
	width:100%;
	border-radius: 0px;
}

div.M_info table{
	font-size:10px;
}


nav{
 width:100%;
 height:60px;
}

nav img{
	height:60px;
	width:35px;
}


nav ul{
  display: flex;
  padding: 0 5px;
  float: right;
}


nav ul li a{
   padding: 0 5px;
   line-height: 60px; 
}

footer{
 padding: 10px 50px;
 font-size: 12px;
}

.F_info {
	flex-direction:column;
}

.F_info table{
  padding: 0 0 20px;
}

.F_info table td{
  padding:5px;
}

.gallery{
    margin: 0px;
	width: 100%;
}

.desc{
	font-size:12px;
}

}
